/* Define color variables */
:root {
  --background-color: #A5D7E8;
  --main-text-color: #002B5B;
  --link-color: #1A5F7A;
}

/* Global styles */
body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

/* Container styles */
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* Image styles */
img {
  width: 100%;
}

/* Navigation styles */
.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: var(--main-text-color);
  text-decoration: none;
  font-size: 200%;
}

/* Form styles */
form input, form textarea {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
}

form textarea {
  min-height: 150px;
  max-height: 150px;
  height: 150px;
  resize: none;
}

form button {
  background: none;
  border: 2px solid var(--main-text-color);
  padding: 1rem;
  text-transform: uppercase;
}

/* Footer styles */
.site-footer {
  padding: 2rem 0;
}
